.status {
    display: flex;
    flex-direction: column;
    width: var(--width-column-main);
    box-sizing: border-box;
    margin-top: 100px;
}
.data {
    display: flex;
    flex-direction: row;
    gap: 36px;
}

.columns{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.digits {
  display: grid; 
  grid-template-rows: repeat(10, 24px);
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  gap: 8px;
}

.total {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: column;
}

.totalDigits {
    text-shadow: 0px 0px 16px rgba(51, 51, 255, 0.25), 0px 0px 8px rgba(51, 51, 255, 0.25),
        0px 4px 32px rgba(51, 51, 255, 0.5);
}

.count {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: column;
    margin-top: 60px;
}
