.main{
    display: flex;
    position: relative;
    top: var(--height-header);
    justify-content: center;
}

.content{
    display: flex;
    position: relative;
    flex-direction: row;
    margin: auto;
}
