.modalBox {
    display: flex;
    position: relative;
    flex-direction: column;
    padding: 40px;
    border-radius: 40px;
    margin: auto;
    width: 720px;
    min-height: 720px;
    background-color: var(--background-light-color);
    z-index: 2000;
}


.closePosition{
    position: absolute;
    top: 60px;
    right: 40px;
    border: none;
    outline: none;
    background-color: transparent;
}

.closePosition:hover{
    cursor: pointer;
    transform: scale(1.2);
    filter: drop-shadow(0px 4px 32px rgba(51, 51, 255, 0.5));
}

.content{
    display: flex;
    position: relative;
    flex-direction: column;
    border:1px solid red;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex: 2;
}