
.container {
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    background: transparent;
    overflow: hidden;
    height: 100%;
}

.scrollBarContainer {
    position: absolute;
    right: 0px;
    bottom: 0px;
    top: 0px;
    width: 8px;
    background-color: var(--background-light-color);
}

.content {
  display: flex;
  position: relative;
  flex-direction: column;
  height:100%;
  width: 100%;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
}


.scrollbar {
  position: absolute;
  right: 0;
  height: 20px;
  width: 8px;
  background: var(--text-secondary-color);
  z-index: 100;
}

.scrollbar:hover{
  cursor: pointer;
}

::-webkit-scrollbar {
  display: none;
}