.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.composition {
    display: flex;
    flex-direction: row;
    gap: 20px;
    justify-content: space-between;
    width: 520px;
}

.composeItem {
    display: flex;
    flex-direction: column;
    min-width: max-content;
    width: 100%;
    text-align: center;
}

.image {
    min-height: 240px;
}
