/* variables */

:root{
--background-color:#131316;
--background-light-color: #1C1C21;
--text-primary-color: #F2F2F3;
--text-secondary-color: #8585AD;
--text-error-color: #E52B1A;
--text-success-color: #00CCCC;

--color-blue: #4C4CFF;

--width-max: 1920px;
--width-column-main: 600px;
--border-radius: 40px;
--height-header: 88px;
--height-menu: 156px;

background-color: var(--background-color);
color: var(--text-primary-color);
}


a{
    text-decoration: none;
}

ul{
    padding: 0;
    margin: 0;
}

/* rewrite css from lib */
.constructor-element{
    flex-grow: 0 !important;
    transition: filter .2s ease;
    width: 100%;
}

.constructor-element__action:hover{
 filter: invert(50%) sepia(35%) saturate(1844%) hue-rotate(141deg) brightness(106%) contrast(103%);
}