.header{
    background-color: var(--background-light-color);
    width: 100%;
    max-width: var(--width-max);
    border: 1px solid red;
}

.content{
    position: relative;
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 100%;
    max-width: calc(var(--width-column-main) * 2 + 40px - var(--border-radius) * 2);
}

.logo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-50%, -50%);
}

.button-primary{
    position: relative;
    display: flex;
    flex-direction: row;
    border-radius: var(--border-radius);
    color: var(--text-primary-color);
    background-color: var(--background-light-color);
    padding: 16px 20px;
    border: 1px dashed transparent;
    box-sizing: border-box;
    max-height: 52px;
    align-items: center;
    transition: all .2s;
}

.button-secondary:hover{
    cursor: pointer;
    border: 1px dashed;
}

.button-secondary{
    composes: button-primary;
    color: var(--text-secondary-color);
}

.menu{
    position: relative;
    display: flex;
    flex-direction: row;
    left: 0;
}

